<footer class="footer">
  <div class="top-footer">
    <div class="container">
      <ul>
        <li><a href="#" class="statuLink"><img src="{{asset 'icon-insta.svg'}}" alt=""></a></li>
        <li><a href="#" class="statuLink"><img src="{{asset 'icon-in.svg'}}" alt=""></a></li>
        <li><a href="#" class="statuLink"><img src="{{asset 'icon-yt.svg'}}" alt=""></a></li>
      </ul>
    </div>
  </div>

  <div class="bottom-footer">
    <div class="container">
      <div class="bottom-footer-inner">
        <div class="bottom-footer-row">
          <div class="bottom-footer-col">
            <p>Copyright 2024 &copy; {{#link 'help_center'}}{{help_center.name}}{{/link}}</p>
          </div>

          <div class="bottom-footer-col">
            <ul>
              <li>
                <a href="#" class="statuLink">Opzeggen</a>
              </li>
              <li>
                <a href="#" class="statuLink">Klachtenregeling</a>
              </li>
              <li>
                <a href="#" class="statuLink">Algemene voorwaarden</a>
              </li>
              <li>
                <a href="#" class="statuLink">Privacy Statement</a>
              </li>
              <li>
                <a href="#" class="statuLink">Disclaimer</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>